<form class="input-form" method="POST">
   <input class="input-form-title" type="text">
   <input class="input-form-body" type="text">
   <input class="input-form-button" type="submit" value="create post">
</form>
